@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    color: var(--color-white);
}

:root {
    --bg-black: #000;
    --color-white: #fff;
    --color-blue : #0f84c9;
    --card-color : #070b11;
}

body {
    width: 100%;
}

/* ---- HEADER ---- */

.header {
    padding: 2rem 6rem;
    background-color: var(--bg-black);
    position: fixed;
    width: 100%;
}

.container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container-header .logo {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}

.container-header .logo span {
    color: var(--color-blue);
}

.container-header .logo:hover {
    transform: scale(1.1);
    text-shadow: 0 0 25px var(--color-white);
}

.container-header .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.container-header .nav a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    border-bottom: 1px solid transparent;
    padding-bottom: 8px;
    transition: all 0.6s ease;
}

.container-header .nav a:hover {
    color: var(--color-blue);
    text-shadow: 0 0 25px var(--color-white);
    border-bottom: 1px solid var(--color-blue);
}

.container-header .btn_action .btn{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;
    border: 1px solid var(--color-white);
    padding: 10px 55px;
    transition: all 0.6s ease;
}

.container-header .btn_action .btn:hover {
    background-color: var(--color-blue);
    border: 1px solid transparent;
    box-shadow: 0 0 25px var(--color-white);
    color: var(--color-white);
}

.toggle_btn{
    display: none;
    color: var(--color-white);
    font-size: 1.2rem;
    cursor: pointer;
}

/* ------ BANNER ------ */

.banner {
    background: url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.container-banner {
    padding: 10rem 6rem 0 6rem;
    display: flex;
    flex-flow: row wrap;
}

/* ------ container-text -------- */

.container-banner .container-text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 800px;
    height: 600px;
}

.container-banner .container-text h2 {
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 0 0 25px var(--color-white);
    margin-bottom: 1rem;
}

.container-banner .container-text p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.container-banner .icon-social {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.container-banner .icon-social a {
    margin: 0.5rem 0;
    font-size: 1.8rem;
    border: 1px solid var(--color-white);
    background-color: transparent;
    padding: 4px 10px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.container-banner .icon-social a:hover {
    transform: scale(1.1)translateY(-10px);
    border: 1px solid transparent;
    background-color: var(--color-blue);
    box-shadow: 0 0 25px var(--color-white);
}

.container-banner .container-text .btn {
    margin-top: 2rem;
}

.container-banner .container-text .btn .btn_p {
    border: 1px solid transparent;
    background-color: var(--color-blue);
    padding: 12px 65px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 0 0 50px var(--color-white);
}

/* cards */
.container-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 6rem;
    padding: 6rem;
    width: 100%;
}

.container-card .card {
    padding: 2.5rem 2.5rem 4rem 2.5rem;
    height: 210px;
    width: 350px;
    background-color: var(--card-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-card .card i{
    color: var(--color-blue);
    font-size: 2.5rem;
    padding: 1rem;
}

.container-card .card h3 {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.container-card .card p span {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

.container-card .card p {
    font-size: 1rem;
    margin: 1px 0;
}



/* ---- section system - our mission ------ */

.system {
    background: url('../img/pic-01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.system .container-system {
    display: flex;
    flex-flow: row wrap;
    padding: 2rem 0;
}

.system .container-system .container-text {
    padding: 2rem 6rem;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 700px;
    width: 1000px;
}

.system .container-system .container-text h3{
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.system .container-system .container-text h2 {
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 0 0 25px var(--color-white);
    margin-bottom: 15px;
}

.system .container-system .container-text p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.system .container-system .container-text .btn_access {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 12px 75px;
    background: transparent;
    border: 1px solid var(--color-white);
    transition: all 0.6s ease-in-out;

}

.system .container-system .container-text .btn_access:hover {
    border: 1px solid transparent;
    background: var(--color-blue);
    box-shadow: 0 0 30px var(--color-white);
}


